.title {
  color: white;
  font-size: 3.5vmax;
  font-weight: bold;
}

nav {
  background: black;
  height: 5vmax;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.logo {
  width: 6vmax;
  height: 5vmax;
}

.tb {
  font-size: 1.5vmax;
  background: none;
  border: none;
  color: white;
  height: 5vmax;
}

.coro {
  margin-top: 5vmax;
  background: radial-gradient(goldenrod, 60%, royalblue);
}

.car {
  width: 75vw;
  margin: 0 0 0 12.5vw;
}

.about {
  font-size: 4vmax;
  font-weight: bold;
  margin: 0 0 0 17vw;
  color: black;
}

.aboutUs {
  height: 105vh;
}

.aboutp {
  margin: 0 0 5vmax 10vw;
  font-size: 2vmax;
  font-family: times;
  max-width: 80vw;
}

.conpic {
  width: 20vw;
  height: 25vw;
}

.contact {
  background: #1488cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1488cc, #2b32b2);
  height: 100vh;
}

.cont {
  font-size: 4vmax;
  font-weight: bold;
  margin: 5vmax 0 0 5vw;
  color: white;
}

.contp {
  font-size: 2vmax;
  color: cornsilk;
}

.contp a {
  color: white;
}

@media (max-width:768px) {
  nav {
    height: 10vmax
  }

  .tb {
    font-size: 2vmax;
    transform: translate(-1vw, -1vh);
  }

  .coro {
    margin-top: 10vmax
  }
}

@media (max-width: 992px) {}

.tb {
  font-size: 1vmax;
}

@media (max-width:1280px) {
  .aboutp {
    font-size: 1.9vmax;
    font-family: times;
    max-width: 82vw;
  }
}